<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
        class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.parisoft.noop.ui.editor.NoopEditor"
        contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
        default="true"
        extensions="noop"
        icon="icons/Editor.png"
        id="org.parisoft.noop.Noop"
        name="NOOP Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.parisoft.noop.Noop.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.parisoft.noop.Noop.validate">
		<activeWhen>
			<reference
					definitionId="org.parisoft.noop.Noop.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.parisoft.noop.Noop.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.parisoft.noop.Noop.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.parisoft.noop.Noop.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="org.parisoft.noop.Noop" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
		<definition id="org.parisoft.noop.Noop.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="org.parisoft.noop.Noop" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.parisoft.noop.Noop"
			name="NOOP">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
		</page>
		<page
			category="org.parisoft.noop.Noop"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.parisoft.noop.Noop.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
		</page>
		<page
			category="org.parisoft.noop.Noop"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.parisoft.noop.Noop.templates"
			name="Templates">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
		</page>
  <page
        category="org.parisoft.noop.Noop"
        class="org.parisoft.noop.ui.preferences.NoopPlayPreferencePage"
        id="org.parisoft.noop.ui.preferences.NoopPlayPreferencePage"
        name="Play">
  </page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.parisoft.noop.Noop"
			name="Noop">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.parisoft.noop.ui.keyword_Noop"
			label="Noop"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="org.parisoft.noop.Noop.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
 <command
       defaultHandler="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.parisoft.noop.ui.commands.NoopNewClassHandler"
       description="Creates a new NOOP Class"
       id="org.parisoft.noop.ui.command.NoopNewClass"
       name="New NOOP Class">
 </command>
 <command
       defaultHandler="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.parisoft.noop.ui.commands.NoopBuildHandler"
       description="Build the project"
       id="org.parisoft.noop.ui.command.NoopBuild"
       name="Build">
 </command>
 <command
       defaultHandler="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.parisoft.noop.ui.commands.NoopPlayHandler"
       description="Play the compiled game"
       id="org.parisoft.noop.ui.command.NoopPlay"
       name="Play">
 </command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.parisoft.noop.Noop.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="org.parisoft.noop.Noop.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.parisoft.noop.Noop.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.parisoft.noop.Noop.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.parisoft.noop.Noop.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="toolbar:org.eclipse.ui.main.toolbar">
     <toolbar
           id="org.parisoft.noop.ui.toolbar.Noop"
           label="NOOP">
        <command
              commandId="org.parisoft.noop.ui.command.NoopNewClass"
              icon="icons/NewClass.png"
              style="push">
        </command>
        <command
              commandId="org.parisoft.noop.ui.command.NoopBuild"
              icon="icons/Build.png"
              style="push">
        </command>
        <command
              commandId="org.parisoft.noop.ui.command.NoopPlay"
              icon="icons/Play.png"
              style="push">
        </command>
     </toolbar>
  </menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.parisoft.noop.Noop.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.parisoft.noop.Noop.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="noop">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="noop">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.parisoft.noop.Noop -->
	<extension
			id="noop.check.fast"
			name="Noop Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="noop.check.normal"
			name="Noop Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="noop.check.expensive"
			name="Noop Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="noop"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.parisoft.noop.Noop"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.parisoft.noop.Noop.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.parisoft.noop.Noop"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.parisoft.noop.Noop.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.parisoft.noop.Noop.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.parisoft.noop.Noop.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.parisoft.noop.Noop.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.parisoft.noop.Noop.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.parisoft.noop.Noop.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.parisoft.noop.Noop -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.parisoft.noop.ui.noop.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.parisoft.noop.ui.noop.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.parisoft.noop.ui.noop.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.parisoft.noop.Noop.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.parisoft.noop.Noop.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.parisoft.noop.Noop"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.parisoft.noop.Noop.refactoring"
			name="Refactoring">
			<keywordReference id="org.parisoft.noop.ui.keyword_Noop"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.parisoft.noop.Noop.compare.contentViewers"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="noop">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.parisoft.noop.Noop.compare.contentMergeViewers"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="noop" label="Noop Compare">
		</viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.parisoft.noop.Noop.editors.documentProviders"
			class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="noop">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="noop"
			type="text">
		</fileTypes>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.parisoft.noop.ui.category"
          name="NOOP">
    </category>
    <wizard
          category="org.parisoft.noop.ui.category"
          class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.parisoft.noop.ui.wizard.NoopNewProjectWizard"
          finalPerspective="org.parisoft.noop.ui.perspective.Noop"
          icon="icons/NewProject.png"
          id="org.parisoft.noop.ui.wizard.NoopNewProjectWizard"
          name="NOOP Project - NES/Famicom Game"
          preferredPerspectives="org.parisoft.noop.ui.perspective.Noop"
          project="true">
    </wizard>
    <wizard
          category="org.parisoft.noop.ui.category"
          class="org.parisoft.noop.ui.NoopExecutableExtensionFactory:org.parisoft.noop.ui.wizards.NoopNewClassWizard"
          finalPerspective="org.parisoft.noop.ui.perspective.Noop"
          icon="icons/NewClass.png"
          id="org.parisoft.noop.ui.wizards.NoopNewClassWizard"
          name="NOOP Class">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.parisoft.noop.ui.perspectives.NoopPerspectiveFactory"
          icon="icons/Perspective.png"
          id="org.parisoft.noop.ui.perspective.Noop"
          name="NOOP">
       <description>
          This perspective is designed to support NES/Famicom games development through the NOOP language.
       </description>
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.parisoft.noop.ui.perspective.Noop">
       <newWizardShortcut
             id="org.parisoft.noop.ui.wizard.NoopNewProjectWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.parisoft.noop.ui.wizards.NoopNewClassWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.xtext.ui.resourceRelocationStrategy">
    <strategy
          class="org.parisoft.noop.ui.rename.NoopResourceRelocationStrategy">
    </strategy>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.parisoft.noop.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
    <module
          class="org.parisoft.noop.ui.NoopModule">
    </module>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="org.parisoft.noop.ui.command.NoopPlay"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="SHIFT+F10">
    </key>
    <key
          commandId="org.parisoft.noop.ui.command.NoopBuild"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+F9">
    </key>
 </extension>
</plugin>
